$font-size-base: 15px;

$primary-color-dark:   #0DC9E1;
$primary-color:        #00BCD4;
$primary-color-light:  #00AFC7;
$primary-color-text:   #FFFFFF;
$accent-color:         #FF5722;
$primary-text-color:   #212121;
$secondary-text-color: #727272;
$divider-color:        #B6B6B6;

$text-color: $primary-text-color;
$brand-primary: $accent-color;

$navbar-default-brand-color: $primary-text-color;
$navbar-default-brand-hover-color: $primary-color;

$navbar-default-bg: $primary-color;
$navbar-default-link-color: $primary-color;
$navbar-default-link-active-color: $primary-color;
$navbar-default-link-active-bg: $primary-color;

$input-color: $primary-text-color;
$input-color-placeholder: darken($primary-color-text, 30);


$dropdown-bg: $primary-color;
$dropdown-link-hover-bg: $primary-color;

@import "resources/assets/sass/variables-bootswatch";
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "resources/assets/sass/bootswatch";

#maincontent {
  min-height: 600px;
}

#top-menu {
    height: 5em;
    background-color: white;
    .navbar-form {
        margin-bottom: 0.5em;
        margin-top: 0.5em;
        margin-right: 0px;
    }
    > ul {
    list-style-type: none;
    margin-bottom: 0px;
    margin-right: 1em;
    > li {
            margin-top: 1em;
            margin-left: 0px;
            > a {
              font-size: 14px;
            }
        }
    }
}

.navbar {
    box-shadow: none;
}

.navbar-default .navbar-brand {
    &:hover, &:focus {
    	color: $primary-text-color;
    	font-weight: bold;
    }
}

.navbar-default .navbar-nav > li > a {
	margin-left: 5px;
	margin-right: 5px;
	color: $primary-text-color;
	&:hover {
		font-size: 17px;
		font-weight: bold;
		border-radius: 10px;
	};
}

.navbar-default .navbar-nav > .active > a {
	color: $primary-text-color;
    &:hover {
    color: $primary-text-color;
    font-size: 17px;
    }
}


.navbar-default .navbar-nav >
.open > a, .navbar-default .navbar-nav >
.open > a:hover, .navbar-default .navbar-nav >
.open > a:focus {
    color: $primary-text-color;
}

 @media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
      color: $primary-text-color; }
  }

.dropdown-menu > li > a {
    &:hover {
        font-weight: bold;
        font-size : 16px;
    }
}

// sticky footer
html {
	position: relative;
	min-height: 100%;
}
body {
	margin-bottom: 10em;
}

.footer {
	position: absolute;
  color: #eee;
	bottom: 0;
	height: 10em;
  width: 100%;
	background-color: grey;
}

.kategori {
  background-color: $primary-color;
  color: $text-color;
  border-bottom: 2px solid black;
  padding: 0.5em;
  border-radius: 0.5em;
  padding-left: 0.7em;
  &:hover, &:focus {
    background-color: $primary-color-dark;
    color: $text-color;
    font-weight: bold;
    text-decoration: none;
  }
}

.carousel-caption {
   background: rgba(0, 0, 0, 0.35);
   border-radius: 3em;
   a {
     color: $primary-color-text;
     &:hover, &:focus {
       text-decoration: none;
     }
   }
}
